# gitignore
coverage/
.DS_Store
*.log*
node_modules
lib
react-example.sketchplugin
_book
.vscode
.ts-compiled

# compiled sketch plugin
*.sketchplugin

# only apps should have lockfiles
yarn.lock
package-lock.json
npm-shrinkwrap.json
